* {
    /* color: red; */
    box-sizing: border-box;




    // background-color: blanchedalmond;
    // overflow: auto !important;
}

body {
    // height: 100vh !important;
}

.body {
    background-color: #eaeaf3;
    // margin: 0;
    // display: flex;
    // height: auto !important;
    // flex: 1;
    // align-: stretch !important;

}

.my-nav {
    // background-color: red;
    box-shadow: 0 3px 3px #bbb;
    margin: 0;

    #search-container {
        border: 1px solid #eceff1;
        padding: 0;
        // margin: 0;
        display: flex;
        border-radius: 8px;

        ::placeholder {
            color: #888;
        }

        input {

            background-color: #eceff1;
            flex: 1;
            padding-left: 10px;
            border: none;
            border-radius: 6px 0 0 6px;
            // width: 90%;
            // height: 100%;
        }

        // padding: 12px 20px;
        /* margin: 20 0px; */

    }

    #search-btn {
        flex: 0.3;
        padding: 8px 0;
        max-width: 92px;
        min-width: 40px;
        border: none;
        border-radius: 0 6px 6px 0;

        // margin: auto 0;
        // align-self: center
        // text-align: center;
        // align-content: center;
        // border: 2px solid black;
        // padding: 0px 20px;
        // height: 100%;
        // width: 10%;
        // align-self: stretch;

        // margin-top: 10px;
        i {
            font-size: 22px;

        }
    }

    #alert-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin: 0 12px;
            width: 20px;
            height: 20px;

        }

        p {

            // flex: 1;
        }
    }

    #user-profile {
        display: flex;
        align-items: center;

        img {
            width: 40px;
            height: 40px;
            margin: 0 12px;


            // object-fit: fill;
        }

        #plus {
            width: 24px;
            height: 24px;
        }
    }
}


.sidebar {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;
    // justify-items: center;
    max-width: 232px;
    min-width: 200px;

    ;

    header {
        // flex: 1;

        background-color: white;

        width: 100%;
        box-shadow: 2px -1px 3px #bbb;
        padding: 10px;

        .sidebar-header {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            // background-color: aqua;
            // flex: 1;
            overflow: hidden;
            // line-height: 10px;

            img {
                // align-self: center;
                width: 40px;
                height: auto;
                // max-height: 100px;
                margin: 0 12px;
            }

            .sidebar-header-welcome {
                // line-height: 10px;
                height: 100%;
                display: flex;
                flex-direction: column;

                // align-items: flex-start;
                h6 {
                    margin: 0;
                    font-size: 14px;
                }

                p {
                    margin: 0;
                    font-size: 10px;
                }
            }
        }
    }

    .sidebar-body {
        // display: flex;
        // flex-direction: column;
        background-color: white;
        box-shadow: 2px 2px 2px #bbb;
        width: 100%;
        margin: 2px 0;



        .sidebar-item {
            display: flex;
            align-items: center;
            justify-content: center;
            // flex: 1;

            span {
                margin: 8px;

            }
        }

        #logout {
            // align-items: flex-end;
            margin-top: 40px;
            // position: relative;
            // bottom: 2px;
        }
    }
}

.main-body {
    // width: 100%;
    // overflow: hidden;

    .main-body-nav {

        margin-top: 20px;
        margin-bottom: 20px;

        .my-pagination {
            display: flex;
            align-items: center;
            line-height: 1.2em;

            p {
                padding-bottom: 4px;
                margin-left: 8px;
                margin-right: 8px;
            }
        }


        .button {
            height: 36px;
            border: .5px solid #999;
            // background-color: white;
            padding: 0 20px;



            // line-height: 36px;
            // text-align: center;
            // vertical-align: middle !important;
        }

        .button-group {
            display: flex;



            :first-child {
                border-right: none !important;

            }
        }
    }

    .main-body-call {
        color: white;
        display: flex;
        flex-wrap: wrap;
        // max-height: 120px;
        width: 100%;
        background-color: aqua;
        padding: 12px 0;
        align-items: center;
        // vertical-align: middle;
        // text-align: center;
        // overflow: hidden;

        .call-banner {
            display: flex;
            align-items: center;
            // flex: 1;
            max-height: 70px;

            img {
                // position: absolute;
                width: 78px;
                height: auto;
                // max-height: 70px;

            }

            h6 {
                margin: 0;
            }

            p {
                margin: 2px 0;
            }
        }



        .participants {
            display: flex;
            align-items: center;

            #more {
                margin-left: 12px;
            }
        }

        .invitation button {
            border: 1px solid white;
            padding: 8px 16px;
            background-color: transparent;
            border-radius: 4px;
            color: white;
        }

        .join-call {
            display: flex;
            // justify-self: flex-start;
            margin-right: 24px;
            align-items: center;
            justify-content: center;
            border: 1px solid white;
            // padding: 8px 8px;
            border-radius: 4px;
            background-color: white;
            max-width: 138px;
            height: 34px;
            color: #555;
        }
    }

    .main-body-message {
        background-color: bisque;
        width: 100%;

        padding: 12px 8px;
        padding-right: 16px;


        // :nth-of-type(2) {
        //     border-left: 2px solid #555;
        //     border-right: 2px solid #555;
        //     // border-
        // }

        .line {
            border: 1px solid #555;
            height: 48px;
            // margin-right: 0 10px
            margin: 0 auto;
        }

        .message {

            display: flex;
            align-items: center;

            img {
                width: 88px;
                height: auto;
            }

            div {
                margin: 0 4px;
            }

            h6 {
                margin: 4px 0;
                font-weight: 700;

                span {
                    font-weight: 200;
                    font-size: 12px;
                    color: #999;
                }
            }
        }
    }

    .main-body-list {
        // align-items: center;
        width: 100%;

        #individual-message {
            display: flex;
            width: 100%;
            background-color: aqua;
            align-items: center;
            flex-wrap: wrap;
            // overflow: hidden;

            img {
                height: auto;
                width: 40px;
            }

            // flex: 1;

            .message-intro p {
                @media screen and (max-width:400px) {
                    width: auto;
                    max-width: 72px;
                }

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                // }


            }

            div {


                // #radio {
                //     width: 30px;
                //     height: 30px;

                //     background-color: red;
                // }
            }
        }
    }

}