* {
    /* color: red; */
    box-sizing: border-box;
    // background-color: blanchedalmond;
    // overflow: auto !important;
}

body {
    // height: 100vh !important;
}

.body {
    background-color: #eaeaf3;
    // margin: 0;
    // display: flex;
    // height: auto !important;
    // flex: 1;
    // align-: stretch !important;

}

.my-nav {
    // background-color: red;
    box-shadow: 0 3px 3px #bbb;
    margin: 0;

    #search-container {
        border: 1px solid #eceff1;
        padding: 0;
        // margin: 0;
        display: flex;
        border-radius: 8px;

        ::placeholder {
            color: #888;
        }

        input {

            background-color: #eceff1;
            flex: 1;
            padding-left: 10px;
            border: none;
            border-radius: 6px 0 0 6px;
            // width: 90%;
            // height: 100%;
        }

        // padding: 12px 20px;
        /* margin: 20 0px; */

    }

    #search-btn {
        flex: 0.3;
        padding: 8px 0;
        max-width: 92px;
        min-width: 40px;
        border: none;
        border-radius: 0 6px 6px 0;

        // margin: auto 0;
        // align-self: center
        // text-align: center;
        // align-content: center;
        // border: 2px solid black;
        // padding: 0px 20px;
        // height: 100%;
        // width: 10%;
        // align-self: stretch;

        // margin-top: 10px;
        i {
            font-size: 22px;

        }
    }

    #alert-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin: 0 12px;
            width: 20px;
            height: 20px;

        }

        p {

            // flex: 1;
        }
    }

    #user-profile {
        display: flex;
        align-items: center;

        img {
            width: 40px;
            height: 40px;
            margin: 0 12px;


            // object-fit: fill;
        }

        #plus {
            width: 24px;
            height: 24px;
        }
    }
}


.sidebar {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;
    // justify-items: center;

    header {
        // flex: 1;

        background-color: white;

        width: 100%;
        box-shadow: 2px -1px 3px #bbb;
        padding: 10px;

        .sidebar-header {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            // background-color: aqua;
            // flex: 1;
            overflow: hidden;
            // line-height: 10px;

            img {
                // align-self: center;
                width: 40px;
                height: auto;
                // max-height: 100px;
                margin: 0 12px;
            }

            .sidebar-header-welcome {
                // line-height: 10px;
                height: 100%;
                display: flex;
                flex-direction: column;

                // align-items: flex-start;
                h6 {
                    margin: 0;
                    font-size: 14px;
                }

                p {
                    margin: 0;
                    font-size: 10px;
                }
            }
        }
    }

    .sidebar-body {
        // display: flex;
        // flex-direction: column;
        background-color: white;
        box-shadow: 2px 2px 2px #bbb;
        width: 100%;
        margin: 2px 0;



        .sidebar-item {
            display: flex;
            align-items: center;
            justify-content: center;
            // flex: 1;

            span {
                margin: 8px;

            }
        }

        #logout {
            // align-items: flex-end;
            margin-top: 40px;
            // position: relative;
            // bottom: 2px;
        }
    }
}

.main-body {
    .main-body-nav {
        .my-pagination {
            display: flex;
            align-items: center;
            line-height: 1.2em;

            p {
                padding-bottom: 4px;
                margin-left: 8px;
                margin-right: 8px;
            }
        }


        .button-group {
            display: flex;

            .button {
                height: 36px;
                // line-height: 36px;
                // text-align: center;
                // vertical-align: middle !important;
            }
        }
    }
}