* {
  /* color: red; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* #radio {
  width: 30px;
  height: 30px;
  background-color: red;
}

.body {
  background-color: #eaeaf3;
}

.my-nav {
  -webkit-box-shadow: 0 3px 3px #bbb;
          box-shadow: 0 3px 3px #bbb;
  margin: 0;
}

.my-nav #search-container {
  border: 1px solid #eceff1;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  /* margin: 20 0px; */
}

.my-nav #search-container ::-webkit-input-placeholder {
  color: #888;
}

.my-nav #search-container :-ms-input-placeholder {
  color: #888;
}

.my-nav #search-container ::-ms-input-placeholder {
  color: #888;
}

.my-nav #search-container ::placeholder {
  color: #888;
}

.my-nav #search-container input {
  background-color: #eceff1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10px;
  border: none;
  border-radius: 6px 0 0 6px;
}

.my-nav #search-btn {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  padding: 8px 0;
  max-width: 92px;
  min-width: 40px;
  border: none;
  border-radius: 0 6px 6px 0;
}

.my-nav #search-btn i {
  font-size: 22px;
}

.my-nav #alert-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-nav #alert-icon img {
  margin: 0 12px;
  width: 20px;
  height: 20px;
}

.my-nav #user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-nav #user-profile img {
  width: 40px;
  height: 40px;
  margin: 0 12px;
}

.my-nav #user-profile #plus {
  width: 24px;
  height: 24px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  max-width: 232px;
  min-width: 200px;
}

.sidebar header {
  background-color: white;
  width: 100%;
  -webkit-box-shadow: 2px -1px 3px #bbb;
          box-shadow: 2px -1px 3px #bbb;
  padding: 10px;
}

.sidebar header .sidebar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  overflow: hidden;
}

.sidebar header .sidebar-header img {
  width: 40px;
  height: auto;
  margin: 0 12px;
}

.sidebar header .sidebar-header .sidebar-header-welcome {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar header .sidebar-header .sidebar-header-welcome h6 {
  margin: 0;
  font-size: 14px;
}

.sidebar header .sidebar-header .sidebar-header-welcome p {
  margin: 0;
  font-size: 10px;
}

.sidebar .sidebar-body {
  background-color: white;
  -webkit-box-shadow: 2px 2px 2px #bbb;
          box-shadow: 2px 2px 2px #bbb;
  width: 100%;
  margin: 2px 0;
}

.sidebar .sidebar-body .sidebar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar .sidebar-body .sidebar-item span {
  margin: 8px;
}

.sidebar .sidebar-body #logout {
  margin-top: 40px;
}

.main-body .main-body-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-body .main-body-nav .my-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.2em;
}

.main-body .main-body-nav .my-pagination p {
  padding-bottom: 4px;
  margin-left: 8px;
  margin-right: 8px;
}

.main-body .main-body-nav .button {
  height: 36px;
  border: .5px solid #999;
  padding: 0 20px;
}

.main-body .main-body-nav .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-body .main-body-nav .button-group :first-child {
  border-right: none !important;
}

.main-body .main-body-call {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: aqua;
  padding: 12px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-body .main-body-call .call-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 70px;
}

.main-body .main-body-call .call-banner img {
  width: 78px;
  height: auto;
}

.main-body .main-body-call .call-banner h6 {
  margin: 0;
}

.main-body .main-body-call .call-banner p {
  margin: 2px 0;
}

.main-body .main-body-call .participants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-body .main-body-call .participants #more {
  margin-left: 12px;
}

.main-body .main-body-call .invitation button {
  border: 1px solid white;
  padding: 8px 16px;
  background-color: transparent;
  border-radius: 4px;
  color: white;
}

.main-body .main-body-call .join-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
  border-radius: 4px;
  background-color: white;
  max-width: 138px;
  height: 34px;
  color: #555;
}

.main-body .main-body-message {
  background-color: bisque;
  width: 100%;
  padding: 12px 8px;
  padding-right: 16px;
}

.main-body .main-body-message .line {
  border: 1px solid #555;
  height: 48px;
  margin: 0 auto;
}

.main-body .main-body-message .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-body .main-body-message .message img {
  width: 88px;
  height: auto;
}

.main-body .main-body-message .message div {
  margin: 0 4px;
}

.main-body .main-body-message .message h6 {
  margin: 4px 0;
  font-weight: 700;
}

.main-body .main-body-message .message h6 span {
  font-weight: 200;
  font-size: 12px;
  color: #999;
}

.main-body .main-body-list #individual-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: aqua;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-body .main-body-list #individual-message img {
  height: auto;
  width: 40px;
}
/*# sourceMappingURL=style.css.map */